page-bg-color = #f5f8fA

page-padding-left = 50px
page-padding-top = 50px

page-header-height = 61px


company-info-label-text-height = 8px

tag-success-text-color = #67c23a
tag-success-bg-color = mix(#67c23a, white, 20%)


border-radius = 5px
tag-border-radius = 2px