@import './variables.styl'

// el-dialog
.el-dialog__headerbtn {
      &:hover {
         .el-dialog__close {
            color white
         }
      }
}
.el-dialog__header {
  background theme-color
  text-align center
  padding 12px 20px
}

.el-dialog__title {
  font-size 20px
  color white
}

.el-dialog__headerbtn {
  top 10px
  right 12px
}

.el-dialog__body {
  padding 0px
}


// el-form
.el-form-item__error {
  margin-top 6px
  font-size 14px
}

// custom

.base-gray-text {
  color #85888f
  font-size 14px
}

.extra-small-text {
  color theme-color
  font-size 12px
}

.base-primary-text {
  color theme-color
  font-size 14px
}

.large-primary-text {
  color theme-color
  font-size 18px
}

.extra-large-primary-text {
  color theme-color
  font-size 20px
}

.base-secondary-text {
  color #909399
  font-size 14px
}

.medium-secondary-text {
  color #909399
  font-size 16px
}

.extra-large-secondary-text {
  color #909399
  font-size 20px
}

.medium-success-text {
  color #67c23a
  font-size 16px
}

.base-regular-text {
  color #606266
  font-size 14px
}

.large-placeholder-text {
  color #c0c4cc
  font-size 18px
}

.link-text {
  color #1585ff
  font-size 12px
}

.big-link-text {
  color #1585ff
  font-size 18px
}

.primary-s-text {
  color #6b6b6b
  font-size 12px
}

.medium-certificate-text {
  color #56575B
  font-size 16px
}

.large-certificate-text {
  color #56575B
  font-size 18px
}
.float-right {
   float right
}
.clickable {
   cursor pointer
}
.inline-centered {
   text-align center
}
.medium-padding {
   padding 25px
}
.small-margined {
   margin 10px
}
.small-margined-center {
   margin 10px auto
}
.small-margined-h {
   margin-left 10px
   margin-right 10px
}
.small-margined-v {
   margin-top 10px
   margin-bottom 10px
}

.vertical {
   display block  
}
.common-table-header {  
    background-color #dfe5ec !important
    font-size 16px
    color #053e5d
}
.common-table-header-cell {
    background-color #dfe5ec !important
}
.common-table-cell {
   border none !important
}

.slide-fade-enter-active {
  transition: all .6s ease;
}

.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}