environment: "debug"
db:
    driver: "mysql"
    connection: "${CONNECTOR}"
log:
    level: "debug"
http:
    host: "0.0.0.0"
    port: "8080"

session:
    driver: "memory"
    secret_key: "secret_key"
    connection: ""
    login_max_age_seconds: 36000
    vault_max_age_seconds: 3600
allow_origins:
    - ${FRONT_END_DOMAIN}

file_storage_type: 1